<div class="devtools" [style.top]="top + 'px'">
  <div class="tabs row" (mousedown)="changeHeightStart()" (mouseup)="changeHeightStop()">
    <div class="tab">Console</div>
    <svg class="close">
      <path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
    </svg>
  </div>
  <div class="filters row">
    <svg class="clear" (click)="browserObject = ''">
      <path d="M9 1c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM3 9c0-1.294 0.416-2.491 1.116-3.472l8.356 8.356c-0.981 0.7-2.178 1.116-3.472 1.116-3.309 0-6-2.691-6-6zM13.884 12.472l-8.356-8.356c0.981-0.7 2.178-1.116 3.472-1.116 3.309 0 6 2.691 6 6 0 1.294-0.416 2.491-1.116 3.472z"></path>
    </svg>
    <div class="relative">
      <select class="select-filter" (change)="changeFilterType($event.target.value)">
        <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
      </select>
      <!-- <svg class="select-arrow" [class.open]="showBrowserObject">
        <path d="M8.016 5.016l10.969 6.984-10.969 6.984v-13.969z"></path>
      </svg> -->
    </div>
    <div class="input-container">
      <input #filter type="text" placeholder="Filter"/>
      <svg *ngIf="filter.value" class="empty" (click)="filter.value = ''">
        <path d="M10 1.6c-4.639 0-8.4 3.761-8.4 8.4s3.761 8.4 8.4 8.4 8.4-3.761 8.4-8.4c0-4.639-3.761-8.4-8.4-8.4zM14.789 13.061l-1.729 1.729-3.060-3.061-3.061 3.060-1.729-1.729 3.062-3.060-3.061-3.061 1.729-1.728 3.060 3.060 3.061-3.061 1.729 1.729-3.062 3.061 3.061 3.061z"></path>
      </svg>
    </div>
  </div>
  <div class="console" [style.height]="height + 'px'">
    <svg class="arrow">
      <path d="M8.578 16.359l4.594-4.594-4.594-4.594 1.406-1.406 6 6-6 6z"></path>
    </svg>
    <div *ngIf="!browserObject" class="welcome">Welcome to Browser Object!</div>
    <!-- <app-object-tier [tier]="browserObject | async"></app-object-tier> -->
    <!-- USE THIS TO TEST NEW FILTERS FOR THE FILTERS -->
    <!-- <div>
      <div>TESTING SECTION HERE</div>
      <div>{{browserObject | async | json}}</div>
    </div> -->
  </div>
</div>
