.homepage {

  &.details {
    overflow: scroll;
  }

  .logo {
    font-family: 'NTR', sans-serif;
    font-size: 100px;
    height: 92px;
    margin: 32px 16px;

    @media (max-width: 650px) {
      font-size: 48px;
      height: 40px;
      margin: 16px 8px;
    }
  }

  .details-page {
    padding: 16px 16px 16px 284px;

    @media (max-width: 1060px) {
      padding: 16px;
    }

    .results {
      color: #808080;
      font-size: 14px;
    }

    .image-container {
      height: 56px;
      margin: 16px 16px 0 0;
      width: 113px;

      img {
        height: auto;
        max-height: 56px;
        max-width: 113px;
        object-fit: contain;
        width: auto;
      }
    }

    .header {
      color: #1a0dab;
      font-size: 18px;
      padding-top: 16px;
    }

    .link {
      color: #006621;
      font-size: 14px;
      line-height: 20px;
    }

    .content {
      color: #545454;
      font-size: 12px;
      line-height: 1.4;
      padding-bottom: 16px;
      word-wrap: break-word;
    }
  }
}
