<div class="homepage" [class.details]="propertyDetails" [style.height]="height + 'px'">
  <div *ngIf="!propertyDetails" class="column center">
    <div class="logo row center">
      <span [style.color]="'#4285f4'">I</span>
      <span [style.color]="'#ea4335'">a</span>
      <span [style.color]="'#4eb46a'">n</span>
      &nbsp;
      <span [style.color]="'#fbbc05'">G</span>
      <span [style.color]="'#4285f4'">o</span>
      <span [style.color]="'#ea4335'">l</span>
      <span [style.color]="'#4eb46a'">d</span>
      <span [style.color]="'#4285f4'">f</span>
      <span [style.color]="'#ea4335'">a</span>
      <span [style.color]="'#fbbc05'">r</span>
      <span [style.color]="'#4eb46a'">b</span>
    </div>
    <app-searchbar></app-searchbar>
  </div>
  <div *ngIf="propertyDetails" class="details-page">
    <div class="results">results found for {{propertyDetails.name}}</div>
    <div class="row" *ngFor="let info of propertyDetails.information">
      <div *ngIf="info.image" class="image-container">
        <img src="assets/{{info.image}}" [alt]="info.header">
      </div>
      <div>
        <div class="header" [innerHTML]="info.header"></div>
        <a class="link" target="_blank" [href]="info.link" [innerHTML]="info.link"></a>
        <div class="content" [innerHtml]="info.content"></div>
      </div>
    </div>
  </div>
</div>
