<div class="navbar row">
  <a (click)="resetHomepage()">Homepage</a>
  <a target="_blank" href="https://github.com/Superman2971/browser-objects">Github</a>
  <div class="image-container" (mouseenter)="showAbout = true; notInAbout = false" (mouseleave)="closeAbout()">
    <span (click)="showAbout = !showAbout"></span>
    <div *ngIf="showAbout" class="about-me">
      <div>Created By: <a target="_blank" href="https://iangoldfarb.co/">Ian Goldfarb</a></div>
      <div class="blue">Built with love, enjoy!</div>
    </div>
  </div>
</div>
